body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.div1{
    background-color: #2f2f2f;
  

}

.div2{
    background-color: #f1f1f1;
    
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 15px;
   
}

.mar1{
    margin-left: 20px;
}


.head1{
    padding: 25px 10px;
    font-weight: 700;
}

.p1{
    padding-left: 10px;
}

.btn1{
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #fa9743;
    background-color: #fa9743;
    color: white;
}

.img1{
    padding: 25px 20px;
    height: 280px;
    width: 58%;
    
}

.head2{
    padding: 40px 0px;
    font-weight: 600;
}

.img2{
    height: 230px;
    width: 280px;
}

.div3{
    margin-top: -25px;
    
}

.head3{
    padding: 10px 0px;
    font-weight: 600;
}

.btn2{
    margin-left: 0px;
    margin-bottom: 25px;
}

.f1{
    
    background-color: #2f2f2f;
    color: white;
    
}

.head4{
    font-weight: 700;
}

.div4{
    padding: 20px 0px;
}

.span1{
    font-size: 13px;
    
}

.head5{
    padding-top: 18px;
    font-weight: 600;
}

.head6{
    
    padding-top: 20px;
}

.p3{
   
    padding-right: 10px;
}

.head7{
    padding-top: 20px;
}

.p4{
    padding-top: 25px;
}

.a1{
    text-decoration: none;
    color: white;
}

.span2{
    padding-left: 15px;
}

.a2{
    color: white;
    
}

.img3{
    margin-left: 260px;
}



